@model TransactionsViewModel

@section title{
    <h3>Transactions Report</h3>
}

<div id="printarea">
<form method="post" asp-controller="transactions" asp-action="search" id="transactions">
    <div class="row">
        <div class="col-2">
        <label asp-for="CashierName"></label>
        <input class="form-control" type="text" asp-for="CashierName" />
        </div>

        <div class="col-3">
            <label asp-for="StartDate"></label>
            <input class="form-control" type="date" asp-for="StartDate" />
        </div>

        <div class="col-3">
            <label asp-for="EndDate"></label>
            <input class="form-control" type="date" asp-for="EndDate" />
        </div>

        <div class="col-2">
            <label >&nbsp;</label>
            <button type="submit" class="btn btn-primary form-control">Search</button>
        </div>

        <div class="col-2">
            <label>&nbsp;</label>
            <button id="print" type="button" class="btn btn-primary form-control">Print</button>
        </div>
    </div>

</form>
<br/>

@if(Model.Transactions != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Date Time</th>
                <th>Cashier Name</th>
                <th>Product Name</th>
                <th>Qty Before</th>
                <th>Qty Sold</th>
                <th>Qty After</th>
                <th>Price</th>
                <th>Sold Amt</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var transaction in Model.Transactions)
            {
                <tr>
                    <td>@transaction.TimeStamp.ToString("yyyy-MM-dd hh:mm")</td>
                    <td>@transaction.CashierName</td>
                    <td>@transaction.ProductName</td>
                    <td>@transaction.BeforeQty</td>
                    <td>@transaction.SoldQty</td>
                    <td>@(transaction.BeforeQty - transaction.SoldQty)</td>
                    <td style="text-align:right">@(string.Format("{0:c}", transaction.Price))</td>
                    <td style="text-align:right">@(string.Format("{0:c}", transaction.SoldQty * transaction.Price))</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">&nbsp;</td>
                <td style="text-align:right">
                    <b>Grand Total</b>
                </td>
                <td style="text-align:right">
                    <b>@(string.Format("{0:c}", Model.Transactions.Sum(x => x.Price * x.SoldQty)))</b>
                </td>
            </tr>
        </tfoot>
    </table>
}
</div>

@section Scripts{
    <script>
        $(function () {
            //Handle Print
            $("#print").on("click", function () {
                window.print();
            });
        })
    </script>
}